extends ../layout/main.pug

block content
    p Add new article
    form(action="/articles", method="POST") 
        label(for="title") Title
        input#title.form-control(type="text", name="title", required)
        label(for="content") Content
        input#content.form-control(type="text", name="content", required)
        button Create
